################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Laravel-Projects/FileContentIndex/28d5570e-d186-46cd-b0bf-0864baa33999.vsidx
/.vs/Laravel-Projects/FileContentIndex
